@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Пользуйтесь сайтом, как хотите.</p>
<video controls="controls" src="~/images/baraban.webm" type='video/webm; codecs="vp8, vorbis"' height="400" width="400"></video>